*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dela Gothic One', cursive;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111;
}

.calculator
{
  position: relative;
  display: grid;
  border-radius: 25px;
}

.calculator .value
{
  grid-column: span 4;
  height: 150px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 24px;
}

.calculator span
{
  display: grid;
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #0c2835;
  place-items: center;
  border: 1px solid rgba(0,0,0.1);
  font-size: 25px;
}

.calculator span:active
{
  background-color: #e6f700;
  color: #111;
}

.calculator span.clear 
{
  grid-column: span 2;
  width: 200px;
  background-color: #ff3077;
}

.calculator span.plus
{
  grid-row: span 2;
  height: 200px;
}

.calculator span.equal
{
  background-color: #35ff03;
} 